/* Eric Meyers Reset CSS rules */
html, body, div, span, iframe, h1, h2, h3, h5, p, a, em, img, strong, li, ol, ul, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1.4;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
ol, ul {
	list-style: none;
}


input { vertical-align:middle; }

/* no need to hide from IE5 Mac as its filtered out anyway */



