/*typography*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 15px; 
    line-height: 1.4;
	color: #474747;
	font-family: "pt-sans", Helvetica, Arial, Sans-serif;
}

a {
	font-weight: normal;
	color: #59a7d5;
	text-decoration: none;
	}
a:link {
	}
a:visited {
	}
a:active {
	}
a:hover {
	color: #75bae3; 
}

a:focus {

}

h1, h2 {
	font-family: "myriad-pro", Helvetica, Arial, Sans-serif;
	font-style: normal;
	font-weight: 400;
}

h3, h5. h6 {
	/*font-family: "pt-sans", Helvetica, Arial, Sans-serif;*/
	font-style: normal;
	font-weight: 400;
}

h1 {
	font-size: 38px;
	color: #32312f;
	font-weight: 600;
}

h2 {
	font-size: 28px;
	color: #32312f;
	font-weight: 600;
	margin: 10px 0;
}

h3 {
	font-size: 16px;
	color: #32312f;
	margin: 0;
}

h3 a {
	color: #32312f;
}

h3 a:hover {
	color: #59a7d5;
}

h5 {
	font-size: 10px;
	color: #858382;
}

p {
	line-height: 1.6;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol, ul {
	font-size: 1em;
	margin: 1em 0 1.5em 1em;
}

#body ul {
	list-style-type: circle;
}
strong, b {
	font-weight: bold;
	}

em {
	font-style: italic;
}

#subhead p {
	font-size: 16px;
	color: #717171;
	/*text-align: center;*/
}

#subhead h1 {
	text-align: center;
	line-height: 1;
}

.gold {
	color: #a97021;
}

.heading h2 {
	background: #fff;
	font-size: 22px;
	padding-right: 10px;
	color: #666;
	font-weight: 400;
	display: inline-block;
}

.heading a {
	color: #666;
}

.heading a:hover {
	color: #59a7d5;
}

.project h3 {
	margin: 10px 0 5px 0;
}

.project h3 a {
	font-weight: bold;
}

.project p {
	color: #858382;
	font-size: 13px;
}

.news h3 a {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

.news h5 {
	margin: 5px 0 10px 0;
	font-size: 11px;
}

.news p {
	font-size: 13px;
	margin: 0 0 20px 0;
}

.quote h3 {
	font-weight: bold;
	/*margin: 30px 0 0;*/
}


#footer {
	color: #ccc;
}

#footerBottom {
	color: #858382;
}

#footer h3 {
	color: #e28e36;
	font-size: 18px;
	font-weight: bold;
}

#footer p {
	font-size: 14px;
	line-height: 1.4;
}

.pageHeader h1 {
	color: #e28e36;
}

.pageHeader h1 a {
	color: #e28e36;
	font-weight: 600;
}
.pageHeader h1 a:hover {
	color: #59a7d5;
}

.title {
	color: #fff;
	font-size: 90%;
	font-weight: 400;
}


#sideBar h2, #sideBarC h2 {
	font-weight: 400;
	font-size: 24px;
	color: #a97021;
	margin: 10px 0 10px 0;
}

#sideBarC p {
	margin: 0 0 1em 0;
}

#main h1, #mainC h1, #mainC h2 {
	color: #a97021;
	margin-top: 0;
}

#main p, #mainC p {
	margin: 0 0 20px 0;
}

.bN_item a {
	font-family: "myriad-pro", Helvetica, Arial, Sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #a97021;
}

.bN_item a:hover {
	color: #e38c14;
}

a.btt {
	color: #59a7d5;
}

a.btt:hover {
	color: #48bbff;
}

@media screen and (max-width: 950px) { 
	h1 {
		font-size: 32px;
	}
}

@media screen and (max-width: 800px) { 
	
	#subhead p {
		font-size: 15px;
	}
	
	h2, #sideBar h2, #sideBarC h2 {
		font-size: 21px;
	}
}

@media screen and (max-width: 620px) { 
	#sideBar h2 {
		text-align: center;
	}
	
	body {
	-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 500px) { 
	h1 {
		font-size: 21px;
	}
	
	#subhead p, body   {
		font-size: 13px;
	}
	
	h2, #sideBar h2, #sideBarC h2 {
		font-size: 18px;
	}
	 
}

.leftFooter p {
	margin: 10px 0;
}

.required {
	font-size: 14px;
	color: #ccc;
	font-weight: normal;
	font-style: italic;
}

